---
export interface Props {
  backgroundSvg: string;
  franchise: string;
  cardNumber: string;
  cardholderName: string;
  expirationDate: string;
  extraclass:string;
}

const {
  backgroundSvg,
  franchise,
  cardNumber,
  cardholderName,
  expirationDate,
  extraclass,
} = Astro.props;
---

<div
  class={`p-6 flex flex-col items-center justify-between aspect-[1.586/1] h-fit rounded-xl overflow-hidden ${extraclass}`}
  style={`background: url(${backgroundSvg}) no-repeat center/cover;`}
>
  <section class="flex items-center justify-start w-full h-[50%] pb-7">
    <img src="LessContactIcon.svg" class="h-6" alt="">
  </section>
  <section class="flex items-center justify-start w-full h-1/5 ">
    <p class="text-lg text-violet-50">{cardNumber}</p>
  </section>
  <section class="flex items-center justify-between w-full h-1/4 ">
    <img src={franchise} alt="Franchise" class="h-8" />
    <div class="flex flex-col items-end justify-center">
      <p class="text-sm uppercase text-violet-50">{cardholderName}</p>
      <p class="text-xs text-violet-50"><span class="font-extrabold text-violet-200">Exp:</span> {expirationDate}</p>
    </div>
  </section>
</div>

<style>
  .aspect-[1.586/1] {
    padding-bottom: 62.8%;
  }
</style>
